:root {
        --primary-color: #6366F1;
        --secondary-color: #9FA8DA;
        --primary-soft: #EEF2FF;
        --text-main: #1E293B;
        --text-muted: #64748B;
        --bg-body: #F8FAFC;
        --bg-card: #FFFFFF;
        --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        --radius: 25px;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Geist', sans-serif;
        background-color: var(--bg-body);
        color: var(--text-main);
        padding-bottom: 2rem;
    }

    .header {
        background-color: var(--bg-card);
        padding: 1rem 2rem;
        border-bottom: 1px solid #E2E8F0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }


    .icon-bg {
        background-color: var(--primary-soft);
        border-radius: 12px;
        padding: 0.6rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
    }

    .header .icon-bg {
        color: inherit;
    }

    .header h1 {
        font-size: 1.25rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .header h1 span {
        color: var(--primary-color);
    }

    .header>div {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .header-btn {
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.2s;
    }

    .header-btn:hover {
        background-color: #4f46e5;
    }

    .header>span {
        font-size: 0.75rem;
        color: var(--primary-color);
        background-color: var(--primary-soft);
        padding: 0.75rem;
        border-radius: 12px;
        font-weight: 600;
    }


    /* card kpi */
    .kpi-container {
        max-width: 1200px;
        margin: 32px auto 0;
        padding: 0 24px;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    .kpi-card {
        background-color: var(--bg-card);
        border: 1px solid #F1F5F9;
        border-radius: var(--radius);
        padding: 20px;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        gap: 16px;

    }

    .kpi-icon {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EEF2FF;
        color: #6366F1;
    }

    .kpi-info {
        display: flex;
        flex-direction: column;
    }

    .kpi-info span {
        font-size: 0.85rem;
        color: #4B5563;
    }

    .kpi-info strong {
        font-size: 1.5rem;
        font-weight: 700;
        color: #1E1B4B;
    }

    /* Dashboard */
    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .dashboard-grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr;
    }

    .card {
        background-color: var(--bg-card);
        border-radius: var(--radius);
        padding: 1.5rem;
        height: auto;
        width: 100%;
        border: 1px solid #F1F5F9;
        display: flex;
        flex-direction: column;
    }

    .info-wrapper {
        position: relative;
        display: inline-flex;
        align-items: top;
    }

    .info-icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: var(--text-muted);
    }

    .info-wrapper:hover .info-tooltip {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .info-tooltip {
        position: absolute;
        top: 50%;
        right: 0;
        width: 260px;
        background-color: #ffffff;
        border: 1px solid #E2E8F0;
        border-radius: 12px;
        padding: 12px;
        font-size: .75rem;
        color: var(--text-main);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
        opacity: 0;
        font-weight: 400;
        transform: translateY(-5px);
        pointer-events: none;
        transition: all 0.2s ease;
        z-index: 10;
        text-transform: initial;
    }


    .card-header {
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
    }

    .card h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--text-main);
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .chart-container {
        position: relative;
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 320px;
    }


    canvas {
        max-height: 100%;
        max-width: 100%;
    }


    @media (min-width: 1000px) {
        .dashboard-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 900px) {
        .kpi-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 500px) {
        .kpi-container {
            grid-template-columns: 1fr;
        }
    }

    /* Modal Styles */
    .modal {
        display: none; 
        position: fixed; 
        z-index: 100; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0,0,0,0.4); 
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        max-width: 800px;
        border-radius: 12px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .tabs {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .tab-btn {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        font-weight: 600;
        color: var(--text-muted);
    }

    .tab-btn:hover {
        background-color: #ddd;
    }

    .tab-btn.active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        color: var(--text-main);
    }

    .form-group input, .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-submit {
        background-color: var(--primary-color);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
    }

    .btn-submit:hover {
        background-color: #4f46e5;
    }

    .data-list {
        margin-top: 20px;
        max-height: 300px;
        overflow-y: auto;
    }

    .data-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
    
    .delete-btn {
        color: red;
        cursor: pointer;
        margin-left: 10px;
    }